/exercicios/Parte2_lista/nbproject/private/
/exercicios/Parte1/nbproject/private/
/exercicios/Parte1/build/
/exercicios/Parte1_while/nbproject/private/
/exercicios/Parte1_while/build/
/exercicios/Parte1_while_2/nbproject/private/
/exercicios/Parte1_while_2/build/
/exercicios/Parte2_Ex/nbproject/private/
/exercicios/Parte2_Ex/build/
/exercicios/Parte2_lista_Ex1/nbproject/private/
/exercicios/Parte2_Lista_Ex1/nbproject/private/
/exercicios/Parte2_Lista_Ex1/build/
/exercicios/Ex1_Lista_Parte2/nbproject/private/
/exercicios/Ex1_Lista_Parte1/nbproject/private/
/exercicios/Ex1_Lista_Parte1/build/
/exercicios/Ex1_Lista_Parte2/build/
/exercicios/Ex2_Lista_Parte2/nbproject/private/
/exercicios/Ex2_Lista_Parte2/build/
/exercicios/Ex3_Lista_Parte2/nbproject/private/
/exercicios/Ex3_Lista_Parte2/build/
/exercicios/Ex4_Lista_Parte2/nbproject/private/
/exercicios/Ex4_Lista_Parte2/build/
/exercicios/Parte4_Ex/nbproject/private/
/exercicios/Parte4_Ex/build/
/exercicios/Parte4_Ex2/nbproject/private/
/exercicios/Parte4_Ex2/build/